body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  width: 12rem;
  margin-bottom: 0.5rem;
}

.input-box .input {
  background-color: #c8c8c8;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 7rem;
}

.btn {
  background-color: #c8c8c8;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;
}

.btn:focus,
.input:focus {
  outline: none;
}
